[Unit]
Description=Elastos Carrier Bootstrap Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ela-bootstrapd/ela-bootstrapd.pid
WorkingDirectory=/var/lib/ela-bootstrapd
ExecStart=/usr/bin/ela-bootstrapd --bootstrap-config=/etc/elastos/bootstrapd.conf --turn-config=/etc/elastos/turnserver.conf
User=ela-bootstrapd
Group=ela-bootstrapd
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
